// OPTIONS

$replacement: 'drawer';
$drawer-selector: 'drawer-menu';

:root {
  --tdm-drawer-width: 380px;
  --tdm-drawer-speed: .2s;
  --tdm-drawer-background: #eee;
  --tdm-backdrop-background: rgba(0,0,0,.5);
}

// CORE

#{$drawer-selector},
[data-#{$replacement}-backdrop] {
  top: 0;
  right: 0;
  position: fixed;
  display: block;
  display: none;

  height: 100%;
}

[data-#{$replacement}] {
  #{$drawer-selector},
  [data-#{$replacement}-backdrop] {
    display: block;
  }
}

#{$drawer-selector} {
  z-index: 99999;

  margin-right: calc(var(--tdm-drawer-width) * -1);
  width: var(--tdm-drawer-width);
  transition: margin-right var(--tdm-drawer-speed);
  background: var(--tdm-drawer-background);
}

[data-#{$replacement}-backdrop] {
  z-index: 99998;
  width: 100%;

  visibility: hidden;
  opacity: 0;

  background: var(--tdm-backdrop-background);

  transition-property: opacity, visibility;
  transition-duration: var(--tdm-drawer-speed), 0s;
  transition-delay: 0s, var(--tdm-drawer-speed);
}

[data-#{$replacement}="true"] {
  height: 100%;
  width: 100%;
  overflow: hidden;

  [data-#{$replacement}-backdrop] {
    visibility: visible;
    opacity: 1;

    transition-property: visibility, opacity;
    transition-duration: 0s, var(--tdm-drawer-speed);
    transition-delay: 0s, 0s;
  }

  #{$drawer-selector} {
    margin-right: 0;
    transition: margin-right var(--tdm-drawer-speed);
  }
}
